html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
/*inizio bg logo*/
#bg-logo {
    background-color: rgb(0, 136, 247);
}
/*fine bg logo*/
/*inizio ridimensionamento logo*/
#logo {
    height: 45px;
}
/*fine ridimensionamento logo*/
h1 {
    font-size: 35px;
    font-weight: 800;
}
/*inizio ridimensionamento e cambio colore font scritto da*/
h2 {
    font-size: 15px;
}
#scritto-da {
    color: gray;
}
#the-booleaner {
    color: aqua;
}
/*fine ridimensionamento e cambio colore font scritto da*/
/*ridimensionamento font data*/
.testo-piccolo {
    font-size: 12px;
}
/*fine ridimensionamento font data*/
/*inizio bg testo sottolineato*/
.testo-sottolineato {
    background-color: yellow;
}