/*font family*/
html {
    font-family: 'Roboto Slab', serif;
}
/*fine font family*/
/*commons*/
.testo-piccolo {
    font-size: 12px;
}
.testo-sottolineato {
    background-color: yellow;
}
.margine {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*inizio bg logo*/
#bg-logo {
    background-color: #0088f7;
    /*inizio pattern bonus*/
    background-image: url(bonus-img/pattern.png);
    background-size: 125px;
    padding-top: 40px;
    /*Fine pattern bonus*/
}
/*fine bg logo*/
/*inizio ridimensionamento logo*/
#logo {
    height: 45px;
}
/*fine ridimensionamento logo*/
h1 {
    font-size: 40px;
    font-weight: 800;
}
/*inizio ridimensionamento e cambio colore font scritto da*/
h2 {
    font-size: 15px;
}
#scritto-da {
    color: gray;
}
#the-booleaner {
    color: aqua;
}
/*fine ridimensionamento e cambio colore font scritto da*/
/*colori tabella*/
thead{
    background-color: #0088f7;
    color: white;
}

.bg-lightblue{
    background-color: lightskyblue;
}
/*fine colori tabella*/

/*bonus footer*/
#testo-grigio {
    color: gray;
}

#img-bonus-1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-image: url(bonus-img/monitor.jpg);
    width: 270px;
    height: 200px;
}
#img-bonus-2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-image: url(bonus-img/graph.jpg);
    width: 270px;
    height: 200px;
}